.gst-input.v-input.gst-input--secondary.v-text-field--outlined label {
    color: theme-color( 'primary' );
    font-weight: font-weight( 'large' );
}

.gst-checkbox.gst-input.gst-input--secondary.v-input--selection-controls.v-input--checkbox {
    svg.gst-icon-checked .gst-svg-icon {
        fill: theme-color( 'accent' ) !important;
    }
}

.gst-checkout-step-2-form__field-terms-conditions.v-input--selection-controls.v-input--checkbox {
    svg.gst-icon-checked .gst-svg-icon {
        fill: theme-color( 'accent' ) !important;
    }
}

.gst-checkout-step-2-form__field-healthcheck.v-input--selection-controls.v-input--checkbox {
    svg.gst-icon-checked .gst-svg-icon {
        fill: theme-color( 'accent' ) !important;
    }
}

.v-input--selection-controls.v-input--radio-group.v-input--radio-group--column {
    svg.gst-icon-checked .gst-svg-icon {
        fill: theme-color( 'accent' ) !important;
    }
}

.gst-checkwiz-step-payment__icon-check .gst-svg-icon {
    fill: theme-color( 'accent' ) !important;
}

div.braintree-form__field-group .braintree-form__label {
    color: theme-color( 'primary' ) !important;
    font-weight: font-weight( 'large' ) !important;
}

.gst-ticket-date-icon,
.gst-ticket-location-icon {
    color: theme-color( 'quaternary' );
    font-weight: font-weight( 'large' ) !important;
}

.gst-ticket-date-icon svg,
.gst-ticket-location-icon svg {
    opacity: 1 !important;
}

.gst-price-list-container__total-price {
    font-weight: font-weight( 'large' ) !important;
}

.gst-price-list-container__total-quantity,
.gst-price-list-container__label-2,
.gst-price-list-container__label-3 {
    font-weight: font-weight( 'large' ) !important;
}

.gst-expansion-panel,
.gst-expansion-panel .v-expansion-panel-header {
    font-weight: font-weight( 'regular' ) !important;
}

.gst-section-title {
    font-weight: font-weight( 'bold' ) !important;
}

.gst-checkwiz-step-payment__info-card {
    font-weight: font-weight( 'large' ) !important;
}