.gst-footer {
    color: theme-color( 'primary' ) !important;

    .gst-menu-link {
        color: theme-color( 'primary' ) !important;

        &:hover {
            color: theme-color( 'primary' ) !important;
        }
    }
}