.v-dialog.v-dialog__height-50 {
    height: 50vh;
    margin: 0;
    max-height: none;
}

.v-dialog.v-dialog__height-70 {
    height: 70vh;
    margin: 0;
    max-height: none;
}

.v-dialog.v-dialog__height-90 {
    height: 90vh;
    margin: 0;
    max-height: none;
}

.v-dialog.v-dialog__height-98 {
    height: 98vh;
    margin: 0;
    max-height: none;
}

.v-dialog.gst-v-dialog {
    border-radius: border-radius( 'm' ) !important;
}

.v-dialog.gst-v-dialog-event-info {
    height: 754px;
    max-height: 90vh;
}
