.gst-event {
    .gst-event__filter {
        button {
            font-weight: font-weight( 'regular' ) !important;
        }
    }
}

.gst-ticket-filter-quantity__menu .gst-ticket-filter-quantity__custom-quantity-container {
    font-weight: font-weight( 'regular' ) !important;
}

.event-ticket-filter-modal {
    .gst-section-title,
    .gst-price-range__label {
        font-weight: font-weight( 'regular' ) !important;
    }
}
