$theme-colors-hex: (
    'primary':                              #026CDF,
    'secondary':                            #C56BFF,
    'tertiary':                             #8F9296,
    'quaternary':                           #1F262D,
    'quinary':                              #F6F6F6,
    'senary':                               #EBEBEB,
    'septenary':                            #BFBFBF,
    'accent':                               #904EBA,
    'anchor':                               #026CDF,
    'error':                                #D93A3A,
    'success':                              #1BAB1E,
    'warning':                              #F2BD2A,
    'info':                                 #026CDF,
    'overlay':                              #000000,
    'shadow':                               #D5DADF,
    'gradient-primary-1':                   #026CDF,
    'gradient-primary-2':                   #0150A7,
    'gradient-secondary-1':                 #C56BFF,
    'gradient-secondary-2':                 #6D236C,
    'gradient-radial-1':                    #FF9F00,
    'gradient-radial-2':                    #FFEE00,
    'home-banner-gradient-start':           #282F35,
    'home-banner-gradient-end':             #1F262D,
    'home-banner-search-button-bg-color':   #1BAB1E,
    'footer-gradient-start':                #1F262D,
    'footer-gradient-end':                  #1F262D,
    'calendar':                             #0150A7,
    'background-timer':                     #026CDF,
    'background-success':                   #E8F6E8,
    'bonus-points-chip-bg-color':           #962D94,
    'bonus-points-chip-color':              #FFFFFF,
    'favorite-marked':                      #F80445,
    'favorite-unmarked':                    #FFFFFF,
    'event-status-chip-cancelled':          #EE2E24,
    'event-status-chip-postponed':          #FF7203,
    'event-status-chip-rescheduled':        #D011C9
);

$theme-colors-variants: (
    'primary-lighten-1': lighten( map-get( $theme-colors-hex, 'primary' ), 52 ),
    'primary-lighten-2': lighten( map-get( $theme-colors-hex, 'primary' ), 27 ),
    'primary-lighten-3': lighten( map-get( $theme-colors-hex, 'primary' ), 40 ),
    'primary-lighten-4': lighten( map-get( $theme-colors-hex, 'primary' ), 48 ),
    'primary-darken-1': darken( map-get( $theme-colors-hex, 'primary' ), 12 ),
    'secondary-lighten-1': lighten( map-get( $theme-colors-hex, 'secondary' ), 25 ),
    'senary-darken-1': darken( map-get( $theme-colors-hex, 'senary' ), 32 ),
    'senary-darken-2': darken( map-get( $theme-colors-hex, 'senary' ), 3 ),
);

$theme-colors-hex: map-merge( $theme-colors-hex, $theme-colors-variants );