.gst-event-banner {
    background: linear-gradient( 270deg, theme-color( 'gradient-primary-1' ) 0%, theme-color( 'gradient-primary-2' ) 100% ) !important;

    .gst-event-banner__name,
    .gst-venue-info {
        color: theme-color( 'white' ) !important;
    }

    .gst-icon-info-round {
        path:last-child {
            fill: theme-color( 'white' );
        }
    }
}

@include mobile-only {
    .gst-event-banner {
        .gst-event-banner__name {
            font-weight: font-weight( 'large' ) !important;
        }
    }
}