.gst-event-ticket-filter {
    .gst-ticket-filter-quantity__btn {
        font-weight: font-weight( 'medium' ) !important;

        .v-btn__content {
            line-height: line-height( 'xxxl' );
            font-weight: font-weight( 'medium' ) !important;
        }
    }
}