.gst-checkout {
    .gst-price-list-container {
        font-weight: font-weight( 'regular' ) !important;

        .gst-price-list-container__label-3 {
            font-weight: font-weight( 'regular' ) !important;
        }
    }

    .gst-faq-card {
        p {
            font-weight: font-weight( 'regular' ) !important;
        }
    }

    .gst-checkwiz-step-payment__info-card {
        font-weight: font-weight( 'regular' ) !important;
    }
}
