.gst-ticket-offer-type-icon.gst-ticket-offer-type-icon--standard {
    color: theme-color( 'accent' ) !important;

    svg {
        .gst-svg-icon {
            fill: theme-color( 'accent' ) !important;
        }
    }
}

.gst-ticket-offer-small-card {
    .gst-ticket-offer-small-card__seat {
        font-weight: font-weight( 'large' ) !important;
    }
}
