.gst-checkout-confirmation__title {
    line-height: line-height( 'xxxxxl' );
    font-size: font-size( 'xxxxxl' ) !important;
    font-weight: font-weight( 'regular' ) !important;
    font-family: 'Noa LT Std', sans-serif;
    letter-spacing: -0.88px;
}