@import '@core/scss/tenants/__utility_tenant_mixins';

@include checkout-wizard-checkbox-icon;
@include checkout-wizard-checkbox-form-label('primary', 'regular');
@include checkout-wizard-checkbox-step-indicator;

.gst-ticket-date-icon,
.gst-ticket-location-icon {
    color: theme-color( 'quaternary' );
}

.gst-expansion-panel,
.gst-expansion-panel .v-expansion-panel-header {
    font-weight: font-weight( 'regular' ) !important;
}

.v-application .gst-faq-card > p {
    font-weight: font-weight( 'regular' ) !important;
}