.gst-date-card {
    .gst-date-card__month {
        font-weight: font-weight( 'bold' ) !important;
    }

    .gst-date-card__day-nr {
        font-weight: font-weight( 'bold' ) !important;
    }

    .gst-date-card__day {
        font-weight: font-weight( 'large' );
    }
}