$color-lang-select: #5E5E5E;
$border-color-lang-select: rgb( 94, 94, 94, 0.2 );

.gst-lang-select {
    .v-btn.gst-lang-select__button {
        border-radius: border-radius( 'm' ) !important;
    }

    &.gst-lang-select--secondary {
        .v-btn.gst-lang-select__button {
            border: 1px solid theme-color( 'white' ) !important;
            background: theme-color( 'white' ) !important;
            color: theme-color( 'secondary' );

            svg .gst-svg-icon {
                fill: theme-color( 'secondary' );
            }
        }

        .v-btn.gst-lang-select__button--active {
            border: 1px solid theme-color( 'secondary' );
            background: theme-color( 'home-banner-search-button-bg-color' ) !important;
            color: theme-color( 'white' ) !important;

            svg .gst-svg-icon {
                fill: theme-color( 'white' );
            }
        }
    }
}
