.gst-bp-chip {
    font-weight: font-weight( 'bold' ) !important;
}

.gst-ticket-offer-price-icon__bonus-points-chip {
    .gst-ticket-offer-price-icon__money {
        font-weight: font-weight( 'black' ) !important;
        text-transform: uppercase !important;
    }
}