.gst-input.v-input.gst-input--secondary.v-text-field--outlined label {
    color: theme-color( 'primary' );
}

.gst-checkbox.gst-input.gst-input--secondary.v-input--selection-controls.v-input--checkbox {
    svg.gst-icon-checked .gst-svg-icon {
        fill: theme-color( 'secondary' ) !important;
    }
}

.gst-checkout-step-2-form__field-terms-conditions.v-input--selection-controls.v-input--checkbox {
    svg.gst-icon-checked .gst-svg-icon {
        fill: theme-color( 'secondary' ) !important;
    }
}

.gst-checkout-step-2-form__field-healthcheck.v-input--selection-controls.v-input--checkbox {
    svg.gst-icon-checked .gst-svg-icon {
        fill: theme-color( 'secondary' ) !important;
    }
}

.v-input--selection-controls.v-input--radio-group.v-input--radio-group--column {
    svg.gst-icon-checked .gst-svg-icon {
        fill: theme-color( 'secondary' ) !important;
    }
}

.gst-checkwiz-step-payment__icon-check .gst-svg-icon {
    fill: theme-color( 'secondary' ) !important;
}

div.braintree-form__field-group .braintree-form__label {
    color: theme-color( 'primary' ) !important;
}