@function map-get-theme-color($map, $key) {
    @if map-has-key($map, $key) {
        @return #{map-get($map, $key)};
    }

    @else {
        @error "ERROR: Specified index does not exist in the mapping: "+$key;
    }
}

:export {
    primary: map-get-theme-color( $theme-colors-hex, 'primary' );
    secondary: map-get-theme-color( $theme-colors-hex, 'secondary' );
    tertiary: map-get-theme-color( $theme-colors-hex, 'tertiary' );
    quaternary: map-get-theme-color( $theme-colors-hex, 'quaternary' );
    quinary: map-get-theme-color( $theme-colors-hex, 'quinary' );
    senary: map-get-theme-color( $theme-colors-hex, 'senary' );
    septenary: map-get-theme-color( $theme-colors-hex, 'septenary' );
    error: map-get-theme-color( $theme-colors-hex, 'error' );
    success: map-get-theme-color( $theme-colors-hex, 'success' );
    warning: map-get-theme-color( $theme-colors-hex, 'warning' );
    info: map-get-theme-color( $theme-colors-hex, 'info' );
    gradientPrimary1: map-get-theme-color( $theme-colors-hex, 'gradient-primary-1' );
    gradientPrimary2: map-get-theme-color( $theme-colors-hex, 'gradient-primary-2' );
    gradientSecondary1: map-get-theme-color( $theme-colors-hex, 'gradient-secondary-1' );
    gradientSecondary2: map-get-theme-color( $theme-colors-hex, 'gradient-secondary-2' );
    gradientRadial1: map-get-theme-color( $theme-colors-hex, 'gradient-radial-1' );
    gradientRadial2: map-get-theme-color( $theme-colors-hex, 'gradient-radial-2' );
    accent: map-get-theme-color( $theme-colors-hex, 'accent' );
    anchor: map-get-theme-color( $theme-colors-hex, 'anchor' );
    homeBannerGradientStart: map-get-theme-color( $theme-colors-hex, 'home-banner-gradient-start' );
    homeBannerGradientEnd: map-get-theme-color( $theme-colors-hex, 'home-banner-gradient-end' );
    homeBannerSearchButtonBgColor: map-get-theme-color( $theme-colors-hex, 'home-banner-search-button-bg-color' );
    footerGradientStart: map-get-theme-color( $theme-colors-hex, 'footer-gradient-start' );
    footerGradientEnd: map-get-theme-color( $theme-colors-hex, 'footer-gradient-end' );
    calendar: map-get-theme-color( $theme-colors-hex, 'calendar' );
    backgroundTimer: map-get-theme-color( $theme-colors-hex, 'background-timer' );
    backgroundSuccess: map-get-theme-color( $theme-colors-hex, 'background-success' );
    overlay: map-get-theme-color( $theme-colors-hex, 'overlay' );
    shadow: map-get-theme-color( $theme-colors-hex, 'shadow' );
    bonusPointsChipBgColor: map-get-theme-color( $theme-colors-hex, 'bonus-points-chip-bg-color' );
    bonusPointsChipColor: map-get-theme-color( $theme-colors-hex, 'bonus-points-chip-color' );
    favoriteMarked: map-get-theme-color( $theme-colors-hex, 'favorite-marked' );
    favoriteUnMarked: map-get-theme-color( $theme-colors-hex, 'favorite-unmarked' );
    eventStatusChipCancelled: map-get-theme-color( $theme-colors-hex, 'event-status-chip-cancelled' );
    eventStatusChipPostponed: map-get-theme-color( $theme-colors-hex, 'event-status-chip-postponed' );
    eventStatusChipRescheduled: map-get-theme-color( $theme-colors-hex, 'event-status-chip-rescheduled' );
}