$theme-colors-hex: (
    'primary':                              #DF021B,
    'secondary':                            #656565,
    'tertiary':                             #3D3935,
    'quaternary':                           #101010,
    'quinary':                              #F0F0F0,
    'senary':                               #C2C2C2,
    'septenary':                            #D6DBE0,
    'accent':                               #DF021B,
    'anchor':                               #DF021B,
    'error':                                #E92505,
    'success':                              #60B403,
    'warning':                              #FFC203,
    'info':                                 #DF021B,
    'overlay':                              #000000,
    'shadow':                               #D5DADF,
    'gradient-primary-1':                   #656565,
    'gradient-primary-2':                   #656565,
    'gradient-secondary-1':                 #DF021B,
    'gradient-secondary-2':                 #DF021B,
    'gradient-radial-1':                    #FF9F00,
    'gradient-radial-2':                    #02B5FF,
    'home-banner-gradient-start':           #F1F1F1,
    'home-banner-gradient-end':             #F1F1F1,
    'home-banner-search-button-bg-color':   #FA0202,
    'footer-gradient-start':                #3D3935,
    'footer-gradient-end':                  #3D3935,
    'calendar':                             #DF021B,
    'background-timer':                     #DF021B,
    'background-success':                   #60B403,
    'bonus-points-chip-bg-color':           #FA0202,
    'bonus-points-chip-color':              #FFFFFF,
    'favorite-marked':                      #F80445,
    'favorite-unmarked':                    #FFFFFF,
    'event-status-chip-cancelled':          #EE2E24,
    'event-status-chip-postponed':          #FF7203,
    'event-status-chip-rescheduled':        #D011C9,
);

$theme-colors-variants: (
    'primary-lighten-1': lighten( map-get( $theme-colors-hex, 'primary' ), 52 ),
    'primary-lighten-2': lighten( map-get( $theme-colors-hex, 'primary' ), 27 ),
    'primary-lighten-3': lighten( map-get( $theme-colors-hex, 'primary' ), 37 ),
    'primary-darken-1': darken( map-get( $theme-colors-hex, 'primary' ), 12 ),
    'senary-darken-1': darken( map-get( $theme-colors-hex, 'senary' ), 32 ),
);

$theme-colors-hex: map-merge( $theme-colors-hex, $theme-colors-variants );
