.gst-bp-chip {
    font-weight: font-weight( 'bold' ) !important;
}

.gst-ticket-offer-price-icon__bonus-points-chip {
    padding: 5px 2px 4px !important;

    p {
        padding-right: 2px !important;
        padding-left: 2px !important;
    }
}