.gst-bonus-points-home-banner {
    h3,
    a {
        color: #FFFFFF !important;
    }

    .v-icon.primary--text {
        color: #FFFFFF !important;
    }
}

.gst-bonus-points-cart-checkout-summary {
    color: #FFFFFF !important;

    h4 {
        color: #FFFFFF !important;
    }
}

.gst-bonus-points-cart-checkout-confirmation {
    p.tertiary--text {
        color: #FFFFFF !important;
    }

    h4.quaternary--text {
        color: #FFFFFF !important;
    }
}

.gst-bp-chip {
    text-transform: unset !important;
}
