$color-white: #FFFFFF;
$color-blue: #111B40;
$color-black: #A70000;

.gst-home {
    .gst-banner.gst-banner--home {
        .gst-home__subtitle {
            color: $color-white;
            font-size: font-size( 's' );
            font-weight: font-weight( 'regular' );
            letter-spacing: -0.3px;
        }

        @media (max-width: 959px) {
            .gst-home__title {
                font-size: 48px;
            }
        }
    }

    .gst-top-events-card-list {
        h4 {
            font-weight: font-weight( 'regular' );
            letter-spacing: -0.4px;
        }
    }
}

.gst-footer {
    .gst-menu-link--white {
        color: $color-blue;
    }

    .gst-footer__copyright {
        color: $color-blue;
    }

    .gst-footer__app-info {
        color: $color-blue;
    }

    .gst-lang-select.gst-lang-select--secondary .v-btn.gst-lang-select__button {
        border: 1px solid #E2E5E9 !important;
        color: #23262D !important;

        .gst-svg-icon {
            fill: #23262D !important;
        }
    }
}
