$theme-colors-hex: (
    'primary':                              #C9192E,
    'secondary':                            #1C1C1C,
    'tertiary':                             #575B5E,
    'quaternary':                           #2B2B2B,
    'quinary':                              #F1F2ED,
    'senary':                               #C2C2C2,
    'septenary':                            #D6DBE0,
    'accent':                               #C9192E,
    'anchor':                               #589BC6,
    'error':                                #E92505,
    'success':                              #10B782,
    'warning':                              #FFC203,
    'info':                                 #C9192E,
    'overlay':                              #000000,
    'shadow':                               #D5DADF,
    'gradient-primary-1':                   #1C1C1C,
    'gradient-primary-2':                   #1C1C1C,
    'gradient-secondary-1':                 #1C1C1C,
    'gradient-secondary-2':                 #C9192E,
    'gradient-radial-1':                    #FF9F00,
    'gradient-radial-2':                    #02B5FF,
    'home-banner-gradient-start':           #1C1C1C,
    'home-banner-gradient-end':             #1C1C1C,
    'home-banner-search-button-bg-color':   #FA0202,
    'footer-gradient-start':                #1C1C1C,
    'footer-gradient-end':                  #1C1C1C,
    'calendar':                             #A11425,
    'background-timer':                     #C9192E,
    'background-success':                   #10B782,
    'bonus-points-chip-bg-color':           #FFFD06,
    'bonus-points-chip-color':              #1C1C1C,
    'favorite-marked':                      #F80445,
    'favorite-unmarked':                    #FFFFFF,
    'event-status-chip-cancelled':          #EE2E24,
    'event-status-chip-postponed':          #FF7203,
    'event-status-chip-rescheduled':        #D011C9,
);

$theme-colors-variants: (
    'primary-lighten-1': lighten( map-get( $theme-colors-hex, 'primary' ), 52 ),
    'primary-lighten-2': lighten( map-get( $theme-colors-hex, 'primary' ), 27 ),
    'primary-lighten-3': lighten( map-get( $theme-colors-hex, 'primary' ), 37 ),
    'primary-darken-1': darken( map-get( $theme-colors-hex, 'primary' ), 12 ),
    'senary-darken-1': darken( map-get( $theme-colors-hex, 'senary' ), 32 ),
);

$theme-colors-hex: map-merge( $theme-colors-hex, $theme-colors-variants );
