.gst-header {
    .gst-tenant-logo__link {
        height: 50px !important;
    }
}

.gst-tenant-logo__content {
    display: block;
    height: 100% !important;

    svg {
        height: 100%;
    }
}