.gst-footer {
    color: theme-color( 'white' ) !important;

    .gst-menu-link {
        color: theme-color( 'white' ) !important;

        &:hover {
            color: theme-color( 'home-banner-search-button-bg-color' ) !important;
        }
    }

    .gst-menu-link--white {
        color: theme-color( 'white' ) !important;

        &:hover {
            color: theme-color( 'home-banner-search-button-bg-color' ) !important;
        }
    }
}