$theme-colors-hex: (
    'primary':                              #000000,
    'secondary':                            #0000EE,
    'tertiary':                             #575757,
    'quaternary':                           #000000,
    'quinary':                              #F2F2F2,
    'senary':                               #C2C2C2,
    'septenary':                            #E6E6E6,
    'accent':                               #2189FF,
    'anchor':                               #20A2FF,
    'error':                                #D93B30,
    'success':                              #60B403,
    'warning':                              #FFC203,
    'info':                                 #1428A0,
    'overlay':                              #000000,
    'shadow':                               #D5DADF,
    'gradient-primary-1':                   #F7F7F7,
    'gradient-primary-2':                   #F7F7F7,
    'gradient-secondary-1':                 #0000EE,
    'gradient-secondary-2':                 #1428A0,
    'gradient-radial-1':                    #FF9F00,
    'gradient-radial-2':                    #FFEE00,
    'home-banner-gradient-start':           #F7F7F7,
    'home-banner-gradient-end':             #F7F7F7,
    'home-banner-search-button-bg-color':   #1428A0,
    'footer-gradient-start':                #FFFFFF,
    'footer-gradient-end':                  #FFFFFF,
    'calendar':                             #FD020E,
    'background-timer':                     #000000,
    'background-success':                   #60B403,
    'bonus-points-chip-bg-color':           #1428A0,
    'bonus-points-chip-color':              #FFFFFF,
    'favorite-marked':                      #F80445,
    'favorite-unmarked':                    #FFFFFF,
    'event-status-chip-cancelled':          #EE2E24,
    'event-status-chip-postponed':          #FF7203,
    'event-status-chip-rescheduled':        #D011C9
);

$theme-colors-variants: (
    'primary-lighten-1': lighten( map-get( $theme-colors-hex, 'primary' ), 90 ),
    'primary-lighten-2': lighten( map-get( $theme-colors-hex, 'primary' ), 70 ),
    'primary-lighten-4': lighten( map-get( $theme-colors-hex, 'primary' ), 21 ),
    'primary-darken-1': darken( map-get( $theme-colors-hex, 'primary' ), 12 ),
    'senary-darken-1': darken( map-get( $theme-colors-hex, 'senary' ), 32 ),
);

$theme-colors-hex: map-merge( $theme-colors-hex, $theme-colors-variants );