.gst-checkout-confirmation__title {
    line-height: line-height( 'xxxxxl' );
    font-size: font-size( 'xxxxxl' ) !important;
    font-weight: font-weight( 'large' ) !important;
    font-family: 'Stag', sans-serif;
    letter-spacing: 1px;
    font-style: normal;
}