@font-face {
    font-family: "FF Mark";
    src: url("//db.onlinewebfonts.com/t/bd5a32d337e7d0a296b80cd3b7d0b1c0.eot");
    src: url("//db.onlinewebfonts.com/t/bd5a32d337e7d0a296b80cd3b7d0b1c0.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/bd5a32d337e7d0a296b80cd3b7d0b1c0.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/bd5a32d337e7d0a296b80cd3b7d0b1c0.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/bd5a32d337e7d0a296b80cd3b7d0b1c0.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/bd5a32d337e7d0a296b80cd3b7d0b1c0.svg#FF Mark") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FF Mark";
    src: url("//db.onlinewebfonts.com/t/bd5a32d337e7d0a296b80cd3b7d0b1c0.eot");
    src: url("//db.onlinewebfonts.com/t/bd5a32d337e7d0a296b80cd3b7d0b1c0.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/bd5a32d337e7d0a296b80cd3b7d0b1c0.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/bd5a32d337e7d0a296b80cd3b7d0b1c0.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/bd5a32d337e7d0a296b80cd3b7d0b1c0.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/bd5a32d337e7d0a296b80cd3b7d0b1c0.svg#FF Mark") format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FF Mark";
    src: url("//db.onlinewebfonts.com/t/c3a19668fb0a51ec574b6deb7ac62ce4.eot");
    src: url("//db.onlinewebfonts.com/t/c3a19668fb0a51ec574b6deb7ac62ce4.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/c3a19668fb0a51ec574b6deb7ac62ce4.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/c3a19668fb0a51ec574b6deb7ac62ce4.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/c3a19668fb0a51ec574b6deb7ac62ce4.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/c3a19668fb0a51ec574b6deb7ac62ce4.svg#FF Mark") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FF Mark";
        src: url("//db.onlinewebfonts.com/t/b3662c484a802dacdbf6565ee8396020.eot");
        src: url("//db.onlinewebfonts.com/t/b3662c484a802dacdbf6565ee8396020.eot?#iefix") format("embedded-opentype"),
            url("//db.onlinewebfonts.com/t/b3662c484a802dacdbf6565ee8396020.woff2") format("woff2"),
            url("//db.onlinewebfonts.com/t/b3662c484a802dacdbf6565ee8396020.woff") format("woff"),
            url("//db.onlinewebfonts.com/t/b3662c484a802dacdbf6565ee8396020.ttf") format("truetype"),
            url("//db.onlinewebfonts.com/t/b3662c484a802dacdbf6565ee8396020.svg#FF Mark") format("svg");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "FF Mark";
    src: url("//db.onlinewebfonts.com/t/b07f1ff16be3a9a3314ca93c29e09d93.eot");
    src: url("//db.onlinewebfonts.com/t/b07f1ff16be3a9a3314ca93c29e09d93.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/b07f1ff16be3a9a3314ca93c29e09d93.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/b07f1ff16be3a9a3314ca93c29e09d93.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/b07f1ff16be3a9a3314ca93c29e09d93.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/b07f1ff16be3a9a3314ca93c29e09d93.svg#FF Mark") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
