@import '@core/scss/tenants/__utility_tenant_mixins';

@include checkout-wizard-checkbox-icon;
@include checkout-wizard-checkbox-form-label('primary');
@include checkout-wizard-checkbox-step-indicator;

.gst-input.v-input.gst-input--secondary.v-text-field--outlined input {
    font-weight: font-weight( 'large' );
}

.v-input--selection-controls.v-input--radio-group.v-input--radio-group--column {
    label {
        color: theme-color( 'tertiary' );
    }
}

.gst-checkwiz-step-payment__info-card {
    .gst-checkwiz-step-payment__icon-check .gst-svg-icon {
        fill: theme-color( 'accent' ) !important;
    }
}

.gst-section-title {
    font-weight: font-weight( 'bold' ) !important;
}

.gst-ticket-date-icon,
.gst-ticket-location-icon {
    color: theme-color( 'quaternary' );
}

.gst-ticket-date-icon svg,
.gst-ticket-location-icon svg {
    opacity: 1 !important;
}

.gst-checkwiz-step-payment__total {
    color: theme-color( 'quaternary' );
}

.gst-faq-card {
    p.font-weight-bold {
        font-weight: font-weight( 'medium' ) !important;
    }

    .v-expansion-panel-header {
        font-weight: font-weight( 'medium' ) !important;
    }
}